[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.idea/
*.DotSettings.user
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

*.csproj
*.sln
*.user
*.userprefs
*.unityproj
*.booproj

.DS_Store
Thumbs.db

*.stackdump

!docs/
!docs/**

